@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', sans-serif;

}

form {
  background-color: rgb(190, 185, 173);
  border: 2px solid #ccc;
  width: 65%;
  padding: 20px !important;
  border-radius: 7px;
  margin: 2% 15% 0px 15% !important;
}

.form-group {
  padding: 8px !important;
}

h2 {
  text-align: center;
  padding: 10px;
  text-shadow: 1px 1px 1px #aaa;
}


button {
  float: right;
}


